:root {
  --dark-blue: #222222;
  --pink: #F1E4E6;
  --dark-pink: #F16D7F;
  --brown: #474040;
}


 

body {
  

  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;

}


.header {
  background-color: var(--dark-blue);
}

.header__navigation  {
  display: none;
}
/*.header__navigation::before {
  width: 232px;
  height: 764px;
  background-color: #Fff;
  position: absolute;
  display: none;
}
.header__menu:hover,
.header__navigation {
  display: block;
}*/

.container {
  width: 1138px;
  margin: 0 auto;
}


  

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.header__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}
.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}


.header__person-link {
  margin: 0 55px 0 30px;
}
.header__person:hover,
.header__person:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}



.header__basket {
  margin: 0 75px 0 42px;
}

.header__basket:hover,
.header__basket:focus {
opacity: 0.5;
cursor: pointer;
outline: none;
}


.header__logo {
  margin: 0 41px 0 11px;
}
.header__logo:hover,
  .header__logo:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}
.header__loup:hover,
.header__loup:focus {
opacity: 0.5;
cursor: pointer;
outline: none;
}

.header__menu:hover,
.header__menu:focus {
opacity: 0.5;
cursor: pointer;
outline: none;
}



.brand {
  display: flex;
  margin: 0 0 63px;
}

.brand__title {

font-family: Lato;
font-size: 48px;
font-weight: 900;
line-height: 58px;
text-transform: uppercase;

}
.brand__title:before{
  content:'';
  position: absolute;
  left: 870px;
  top: 410px;
  width: 15px;
  height: 100px;
  background-color: #F16D7F;
  ;
}

.brand__title-wrapper {
  background-color: var(--pink);
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding:  0 0 0 91px;
}

.brand__subtitle {
  display: block;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

.brand__subtitle-pink {
  color: var(--dark-pink);
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.offers__item {
  color: white;
  width: 360px;
  min-height: 260px;
  background-color: var(--brown);
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offers__item--women {
  background-image: url(../IMG/women.jpg);
}

.offers__item--formen {
  background-image: url(../IMG/formen.jpg);
}
.offers__item--kids {
  background-image: url(../IMG/kids.jpg);
}
.offers__item--accesories {
  background-image: url(../IMG/accesories.jpg);
  width: 100%;
  margin: 0;
}

.products {
  margin: auto;
   height: auto;
   width: 1600px;

}
.block__products:hover 
.product__button--overlay {
  display: flex;
  background-image: url(../img/baskethow.png);
  width: 360px;
  height: 420px;
  outline: none;
  cursor: pointer;
  opacity: 0.5;  
  }
  .block__products:hover 
.product__button--overlay2 {
  display: flex;
  background-image: url(../img/baskethow.png);
  width: 360px;
  height: 420px;
  outline: none;
  cursor: pointer;
  opacity: 0.5;  
  }
  .block__products:hover 
.product__button--overlay3 {
  display: flex;
  background-image: url(../img/baskethow.png);
  width: 360px;
  height: 420px;
  outline: none;
  cursor: pointer;
  opacity: 0.5;  
  }
  .block__products:hover 
.product__button--overlay4 {
  display: flex;
  background-image: url(../img/baskethow.png);
  width: 360px;
  height: 420px;
  outline: none;
  cursor: pointer;
  opacity: 0.5;  
  }

.product__button--overlay {
  display: none;
  position: absolute;
  top: 1686px;
}
.product__button--overlay:before {
  width: 360px;
  height: 420px;
  background-image: url(../img/baskethow.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 360px;
  opacity: 0,05;
  display: none;
}

.product__button--overlay2 {
  display: none;
  position: absolute;
  top: 2328px;
    left: 251px;
    display: none;
}
.product__button--overlay2:before {
  width: 360px;
  height: 420px;
  background-image: url(../img/baskethow.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 360px;
  opacity: 0,05;
  display: none;
}
.product__button--overlay3 {
  display: none;
  position: absolute;
  top: 2328px;
  left: 640px;
  display: none;
}
.product__button--overlay3:before {
  width: 360px;
  height: 420px;
  background-image: url(../img/baskethow.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 360px;
  opacity: 0,05;
  display: none;
}
.product__button--overlay4 {
  display: none;
  position: absolute;
  top: 2328px;
  left: 1029px;
  display: none;
}
.product__button--overlay4:before {
  width: 360px;
  height: 420px;
  background-image: url(../img/baskethow.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 360px;
  opacity: 0,05;
  display: none;
}


.products__title {
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
  font-size: 30px;
  margin-top: 96px;
  
}
.products__title--shop {
  font-size: 14px;
  font-family: Lato;
  margin-top: 6px;
  
}

.products__asortiment {
      display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 0 250px;
     width: 1138px;
  
}

.block__products {
  width: 360px;
  height: 420px;
  margin-top: 220px;
}
.text__product {
  background-color: #F8F8F8;
  
}

.text__product--description {
  font-weight: 400;
  font-size:13px;
  padding: 16px;
  position: inherit;
  margin-top: -10%;
}
.text__product--title {
  font-size: Lato;
  font-style:13px;
  font-weight: 400;
  padding: 16px;

}

.text__product:hover,
.text__product:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.text__product--price {
  color:#F17D7F;
  padding: 16px;
  position: inherit;
  margin-top: -10%;
}
.products__button{
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FF6A6A;
  background: #F8F8F8;
  text-decoration: none;
  padding: 15px 48px;
  display: inline-block;
  margin-top: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.products__button:hover,
.products__button:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}
  
  
  
.products__asortiment--img {
  position: inherit;
  margin-top: -50%;
}



/*.products__asortiment--img:hover {
  outline: none;
  cursor: pointer;
  opacity: 0.5;  
  background-image: url(../img/baskethow.png);
  
}*/


.products__buttons {
  padding: 63px 38px;
  position: inherit;
  margin-top: -55%;

}
.adwantages {
  width: 1600px;
  height: 341px;
  background-color: #222224;
	min-height: 100%;
  margin-top: 115px;
}

.adwantages__block {
  display: flex;
 
  
}
.adwantages__block1 {
margin: 100px 0 0 100px;
  
}
.adwantages__block2 {
  margin: 105px;
}
      
  .adwantages__block3 {
    margin: 10px 10px 0 0;
    padding: 0 30px;
    height: 80px;
      }

.adwantages__block--img1 {
  margin: 0 160px;
}
.adwantages__block--img2 {
  margin: 0 160px;
}
.adwantages__block--img3 {
  margin: 100px;
}

.advantages__text--crown {
  font: Lato, Arial, sans-serif;
  color: #FBFBFB;
  text-align: center;
  width: 360px;
  height: 34px;
  margin: -100px -60px;

}

.advantages__text {
  font: Lato, Arial, sans-serif;
  color: #FBFBFB;
  text-align: center;
  width: 360px;
  height: 34px;
 
}

.advantages__text--h {
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
}

.advantages__text--p {
  font-weight: 300;
  font-size: 13px;
}

.container__footer {
  width: 1600px;
   margin: auto;
   height: auto;
  
}

.footers__img {
  position: absolute;
  top: 3620px;
  left: 280px;
}

.footers__fon {
  margin: 0;
  
}

.footers__text {
  position: absolute;
  top: 3750px;
  left: 150px;
  text-align: center;
  font-size: 20px;
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
  
}

.footers__email--h1 {
  position: absolute;
  left: 870px;
  top: 3680px;
}

.footers__email--h1 {
  text-align: center;
  font-size: 24px;
  font-family: Lato, Arial, sans-serif;
  font-weight: 700;
}

.input__button:hover,
.input__button:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.text-input{
  position: absolute;
  margin-top: -190px;
  left: 900px;
  }
  
  input[type="text"]{
  display: inline-block;
  width: 370px;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px 10px 10px 20px;
  transition: all 0.1s ease-out;
  background: #E1E1E1;
  border-radius: 100px 100px 100px 100px;
  }
  
  input[type="text"] + label{
  position: absolute;
  top: 0;
  left: 263px;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  color: white;
  border-radius: 3px 0 0 3px;
  padding: 0 20px;
  background:  #F16D7F;;
  transform: translateZ(0) translateX(0);
  transition: all 0.3s ease-in;
  transition-delay: 0.2s;
  border-radius: 0 100px 100px 0;
  }
  
  input[type="text"]:focus + label{
  transform: translateY(-120%) translateX(0%);
  border-radius: 3px;
  transition: all 0.1s ease-out;
  }
  
  input[type="text"]:focus{
  padding: 10px;
  transition: all 0.3s ease-out;
  transition-delay: 0.2s;
  }
  .footers__copy {
      padding: 10px;
      width: 1600px;
      height: 79px;
      background: #222224;
  }
  .footers__copy--text {
      font-size: 16px;
      font-family: Lato, Arial, sans-serif;    
      color:white;
      font-weight: 400;
      text-align: left;
      margin: 30px 0 0 30px;

  }
.footers__copy--social {
  margin: -70px 1320px;

}




/*страница регистрации*/


.container__residtrastion {
  width: 1138px;
  margin: 0 auto;
}

.footer__container {
  width: 1600px;
  margin: auto;
  height: auto;
}
.footers__fon--reg {
  position: inherit;
  
  margin: -260px 0px 0px 0px;
}

.footers__image--reg {
  position: absolute;
  bottom: -370px;
  left: 270px;
  
}

.footers__text--reg {
  position: absolute;
  bottom: -480px;
  left: 147px;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.footers__email--texth1 {
position: absolute;
left: 900px;
top: 1060px;
text-align: center;
font-family: Lato, Arial, sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
}
.text-input__reg--email {
  position: absolute;
  top: 1160px;
  right: 150px;
}

.footers__copy--reg {
  position: absolute;
  top: 1340px;
  width: 1600px;
  height: 79px;
  background: #222224;
}

.footers__copy--socialreg {
  position: absolute;
  top: 1440px;
  right: -1100px;
}
.text-input__reg--button {
  position: inherit;
  margin: 1160px 0 0 950px;
  left: 236px;
}

.text-input__reg--button:hover,
.text-input__reg--button:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.registration {
  height: 148px;
  background-color: #F8F3F4;
  text-align: left;
  font-family: Lato, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.container__residtrastion{
  position: absolute;
  left: 170px;
  color:  #FF6A6A;
  top: 130px;
}
.form__name {
  position: absolute;
  left: 170px;
  top: 250px;
}
.registration__data {
  Font: Lato, Arial, sans-serif;
  font-weight: 300;
}

.registration__data--first {
  position: relative;
  bottom: -70px;
  left: 170px;
  width: 360px;
  height: 45px;
}

.registration__data--last {
  position: relative;
  bottom: -150px;
  left: -200px;
  width: 360px;
  height: 45px;
}
.radio-input {
 margin: 180px -100px 200px 180px;
}



.radio-label {
  position: absolute;
  top: 100px;
  left: 200px;
  top: 450px;
}
.radio-label2 {
  position: absolute;
  top: 100px;
  left: 300px;
  top: 450px;
}

.registration__data--email {
  position: relative;
  bottom: 130px;
  left: 170px;
  width: 360px;
  height: 45px;
}

.registration__data--password {
  position: relative;
  bottom: 50px;
  left: -200px;
  width: 360px;
  height: 45px;
}

.content {
  position: relative;
  bottom: 20px;
  text-align: left;
  left: 170px;
  width: 359px;
  height: 32px;
  font-size: 13px;
  Font: Lato, Arial, sans-serif;
  font-weight: 300;
  line-height: 15px;

}
.button__registration {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  position: absolute;
  left: 170px;
  top: 800px;
  bottom: 100px;
}

.button__registration__text {
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 0 29px;
  margin-bottom: 55px;
  color: #Fff;
}

.loyality {
  position: relative;
  top: -500px;
  right: -750px;
  font-family: Lato, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  
}
.text__loyality {
  position: relative;
  top: -468px;
  right: -750px;
  text-align: left;
  width: 652px;
  height: 58px;
  font-family: Lato, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

}



.sale1 {
  position: relative;
  top: -450px;
  right: -790px;
  text-align: left;
  width: 652px;
  height: 58px;
  
}

.inscriptions {
  font-family: Lato, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.vectorsale1 {
  position: relative;
  top: -740px;
  right: -750px;
  
}
.vectorsale2 {
  position: relative;
  top: -680px;
  right: -725px;
 
}
.vectorsale3 {
  position: relative;
  top: -625px;
  right: -700px;
}
.vectorsale4 {
  position: relative;
  top: -565px;
  right: -675px;
}
.vectorsale5 {
  position: relative;
  top: -505px;
  right: -650px;
}



/*страница корзина*/

.container__cart {
  width: 1138px;
  margin: 0 auto;
  position: absolute;
  left: 170px;
  color:  #FF6A6A;
  top: 130px;
}

.cart {
  height: 148px;
  background-color: #F8F3F4;
  text-align: left;
  font-family: Lato, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
/*первый товар*/

.basket {
  margin: 96px 0 0 230px;
  display: flex;
}

.basket__suitmen:hover {
  border: 1px solid;
  opacity: 0.5;
}

.basket__suitmen {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}


.features:hover {
  border: 1px solid;
}
.container__basket {
  width: 390px;
  height: 306px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.parameters__basket {
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}
.parameters__basket--1 {
position: absolute;
  left: 550px;
  top: 450px;
}
.parameters__basket--2 {
  position: absolute;
    left: 550px;
    top: 485px;
  }
  .parameters__basket--3 {
    position: absolute;
      left: 550px;
      top: 515px;
    }
    .parameters__basket--4 {
      position: absolute;
        left: 550px;
        top: 550px;
      }
      .basket_price {
        position: absolute;
          left: 615px;
          top: 450px;
          font-family: Lato;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: left;
          color:  #FF6A6A;
        }


.cart__basket {
  position: absolute;
  left: 550px;
  top: 350px;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

}

.basket__units--scoreboard {
  width: 43px;
  height: 24px;
  position: absolute;
  left: 670px;
  top: 550px;
  text-align: center;
}
.close {
  position: absolute;
  left: 840px;
  top: 355px;
}
/*2 товар*/

.basket {
  margin: 96px 0 0 230px;
  display: flex;
}
.basket__redshirt:hover {
  border: 1px solid;
  opacity: 0.5;
  
}
.basket__redshirt {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.features2:hover {
  border: 1px solid;
}
.container__basket2 {
  width: 390px;
  height: 306px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.parameters__basket2 {
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}
.parameters__basket--1-2 {
position: absolute;
  left: 550px;
  top: 850px;
}
.parameters__basket--2-2 {
  position: absolute;
    left: 550px;
    top: 885px;
  }
  .parameters__basket--3-2 {
    position: absolute;
      left: 550px;
      top: 920px;
    }
    .parameters__basket--4-2 {
      position: absolute;
        left: 550px;
        top: 950px;
      }
      .basket_price2 {
        position: absolute;
          left: 615px;
          top: 850px;
          font-family: Lato;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: left;
          color:  #FF6A6A;
        }


.cart__basket2 {
  position: absolute;
  left: 550px;
  top: 750px;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

}

.basket__units--scoreboard2 {
  width: 43px;
  height: 24px;
  position: absolute;
  left: 670px;
  top: 950px;
  text-align: center;
}
.close2 {
  position: absolute;
  left: 840px;
  top: 755px;
}

/*кнопки*/
.button__clear {
  width: 235px;
  height: 50px;
  background: #FFFFFF;
  position: absolute;
  top: 1100px;
  left: 230px;
  
}
.button__clear:hover {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.button__continue {
  width: 235px;
  height: 50px;
  background: #FFFFFF;
  position: absolute;
  top: 1100px;
  left: 650px;
}
.button__continue:hover {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

/*форма корзина*/
.form {
  display: grid;
  position: absolute;
  top: 330px;
  left: 1050px;
}
.form__h1 {
  font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}
.form__text {
  width: 360px;
  height: 45px;
  font-family: Lato;
font-size: 13px;
font-style: normal;
font-weight: 300;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

}
.form__button {
  width: 100px;
  height: 34px;
  margin: 10px 0 0 0;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  background-color: white;

}

.check {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  position: absolute;
  top: 750px;
 left: 1050px;
}
.check__proceed:hover {
  border: 1px solid;
  opacity: 0.5;
}
.check__subtotal {
  position: absolute;
  right: 20px;
  top: 30px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.check__grandtotal {
  position: absolute;
  right: 20px;
  top: 65px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.check__proceed {
  width: 273px;
  height: 50px;
  position: absolute;
  right: 40px;
  top: 120px;
  background-color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #Fff;

}

/*подвал корзина*/

.container__footer--cart {
  width: 1600px;
   padding: 6px;
  
}
.footers__fon--bas {
  position: inherit;
  margin: 319px 0px 0px 0px;
}

.footers__image--bas {
  position: absolute;
  bottom: -820px;
  left: 420px;
  
}

.footers__text--bas {
  position: absolute;
  bottom: -920px;
  left: 300px;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;


}
.footers__email--texth-bas {
position: absolute;
right: 140px;
top: 1490px;
text-align: center;
font-family: Lato, Arial, sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
}
.text-input__bas--email {
  position: absolute;
  top: 1590px;
  right: 170px;
}
.input__but--bas {
  margin: 1590px 0 0 930px;
}


.footers__copy--bas {
  position: absolute;
  top: 1800px;
  width: 1600px;
  height: 79px;
  background: #222224;
}

.footers__copy--socialbas {
  position: absolute;
  top: 1820px;
  right: 170px;
}

/*страница католог*/
.adwantages--catalog {
display: none;
}



/*медиазапросы главная*/

@media (max-width: 768px){
.container {
  width: 768px;
  margin: 0 auto;
}
  .header.logo {
    margin: 0 0 0 18px;
  }
  .header__wrapper {
    margin: 41px 0 0 18px;
    background-color: var(--dark-blue);
  }
  .header__controls {
    margin: 0 3px 0 18px;
  }
  .header__basket {
    margin: 0 85px 0 42px;
  }
  .header__person-link {
    margin: 0 25px 0 0px;
  }
  .brand__men {
    width: 384px;
    height: 369px;
  }
  .brand__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 44px;
  }
  .brand__subtitle, .brand__subtitle-pink {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  .brand__title:before{
    content:'';
    position: absolute;
    left: 450px;
    top: 260px;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    ;
  }

  .offers__item--women ,.offers__item--formen, .offers__item--kids {
    width: 232px;
    height: 167px;
    margin: 0 12px 0 12px;
  }
  .offers__item--accesories {
    width: 734px;
    height: 116px;
    margin-top: 10px;
    margin: 12px;
  }
.products {
margin: -10px;
width: 768px;
}
.products__button{
position: absolute;
left: 250px;
top: 3020px;

}
.products__asortiment {
  width: 768px;
  padding: 0 15px;
}
.adwantages {
  width: 768px;
  height: 610px;
  display: block;
}
.adwantages__block{
  display: block;
}
.adwantages__block1 {
  margin: 100px 0 0 180px;
  padding: 48px;
}
.adwantages__block2 {
  margin: 10px 10px 10px 180px;
    padding: 48px;
}

.adwantages__block3 {
  margin: -60px 0 0 290px;
  padding: 0;
}


.container__footer {
  width: 768px;
  height: auto;
}

.footers__fon--adaptiv {
  width: 768px;
  height: 693px;
  
}
.footers__img {
  top: 4000px;
  left: 370px;
}
.footers__text {
  position: absolute;
  top: 4135px;
  left: 250px;
}
.text-input {
  margin-top: -200px;
  left: 250px;
}
.footers__email--h1 {
  position: absolute;
  left: 190px;
  top: 4320px;
}

  .footers__copy {
    width: 768px;
  height: 79px;
  top: 4540px;
  }

  .footers__copy--social {
    margin: -70px 580px;
}
}
@media (max-width: 375px) {
  .container {
    width: 375px;
  }
  .header__person-link {
   display: none;
}
.header__basket {
 display: none;
}
.header__button {
  margin: 0 65px 0 0;
}
.header__logo {
  margin: 0 41px 0 -15px;
}
.brand {
  display: block;
}
.brand__men {
  display: none;
}
.brand__title-wrapper {
width: 375px;
height: 363px;
padding: 0;
}
.brand__title {
  margin: 35px;
}
.brand__title:before {
  height: 61px;
  left: 15px;
  top: 269px;
}
.offers__item--women, .offers__item--formen, .offers__item--kids {
  width: 343px;
  height: 247px;
  margin: 32px 0 0 6px;
}
.offers__item {
  min-height: 1px;
}
.offers__item--accesories {
    width: 343px;
    height: 111px;
    background-image: url(../img/acessoriesmobile.jpg);
    background-repeat: no-repeat;
}
.offers__item--mobtext {
  position: relative;
  top: 5px;
  right: 10px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.offers__item--mobtextp {
  position: relative;
  top: 15px;
  right: 10px;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #F16D7F;
}
  .products {
    max-width: 375px;
  }
 .products__title--shop {
  font-size: 13px;
 }
 .products__asortiment {
   max-width: 375px;
 }
 .products__button {
  position: absolute;
  left: 5px;
  top: 5290px;
  width: 211px;
  height: 47px;
 }
 .adwantages {
   max-width: 375px;
 }
 .adwantages__block1 {
   margin: 100px 0 0 -60px;
 }
 .adwantages__block2 {
 margin: 10px 10px 10px -60px;
}
.adwantages__block3 {
margin: -60px 0 0 50px;
}
.container__footer {
  width: 375px;
}
.footers__mob {
  background-image: url(../img/footerfonmob.jpg);
  width: 375px;
  height: 610px;
}
.footers__copy {
  width: 375px;
  height: 143px;
  top: 4540px;
  display: block;
}
.footers__copy--text {
text-align: center;
margin: 30px 0 0 0px;
margin-top: 110px;
}
.footers__copy--social {
  margin: -110px 125px;
}
.footers__img {
  top: 6250px;
  left: 110px;
}
.footers__text {
  top: 6380px;
  left: 10px;
}
.footers__email--h1 {
  left: 5px;
  top: 6550px;
}

input[type="text"] {
    width: 309px;
    height: 46px;
}


input[type="text"] + label {
    height: 46px;
    left: 210px;
}
.text-input {
  margin-top: -150px;
  left: 0px;
}
}